# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/

# IDE
.vscode/
.idea/

# Project specific
.env
map.html

# OSMNX cache
cache/
*.cache
*.graphml
*.osm
*.pbf

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints
